{% load static %}

<div class="chat" style="cursor: auto">
    <div style="display: inline-block; width: 13%">
        {% if u.user.image %}
        <a class="photo chat_photo" href="{{ u.user.get_absolute_url_user }}"
           style="background-image: url('/media/images/{{ u.user.image }}')"></a>
        {% else %}
        <a class="photo chat_photo" href="{{ u.user.get_absolute_url_user }}"
           style="background-image: url({% static '/mint/images/no_photo.png' %})"></a>
        {% endif %}
    </div>

    <div style="display: inline-block; width: 86%">
        <a class="username" style="font-weight: bold; font-size: 25px"
           href="{{ u.user.get_absolute_url_user }}">{{ u.user }}</a>

        {% if u.confirm %}
        <a class="btn btn-primary friend_button" href="{{ u.user.get_absolute_url_confirm }}">Принять заявку</a>
        <a class="btn btn-primary friend_button" href="{{ u.user.get_absolute_url }}#last">Написать</a>
        {% elif u.friend %}
        <a class="btn btn-secondary cancel" href="{{ u.user.get_absolute_url_remove }}">Удалить из друзей</a>
        <a class="btn btn-primary friend_button" href="{{ u.user.get_absolute_url }}#last">Написать</a>
        {% elif not u.confirm and not u.friend %}
        {% if u.invite %}
        <a class="btn btn-secondary cancel" href="{{ u.user.get_absolute_url_cancel }}">Отменить заявку</a>
        {% else %}
        <a class="btn btn-primary friend_button" href="{{ u.user.get_absolute_url_invite }}">Добавить в друзья</a>
        {% endif %}
        <a class="btn btn-primary friend_button" href="{{ u.user.get_absolute_url }}#last">Написать</a>
        {% endif %}
    </div>
</div>

<br>
