{% extends 'mint/base.html' %}
{% load static %}

{% block content %}
<div class="block">
    <h2>Аккаунт пользователя {{ user }}</h1>

    <br>

    {% if user.image %}
    <div class="photo" style="background-image: url('/media/images/{{ user.image }}')"></div>
    {% else %}
    <div class="photo" style="background-image: url({% static '/mint/images/no_photo.png' %})"></div>
    {% endif %}
    <br>

    <p>Имя пользователя: {{ user.username }}</p>

    <p>Электронная почта: {{ user.email }}</p>

    {% if user.status %}
    <p>О себе: {{ user.status }}</p>
    {% else %}
    <p>О себе: не добавлено</p>
    {% endif %}
</div>
{% endblock content %}
